@model prjDB_GamingForm_Show.Models.Entities.DeputeRecord

@{
    ViewData["Title"] = "Apply";
    Layout = "~/Views/Shared/_Layout_DBM.cshtml";
}

<h2>Apply</h2>

<h4>DeputeRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Apply">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeputeId" class="control-label"></label>
                <input asp-for="DeputeId" class="form-control" />
                <span asp-validation-for="DeputeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplyStatusId" class="control-label"></label>
                <input asp-for="ApplyStatusId" class="form-control" />
                <span asp-validation-for="ApplyStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordContent" class="control-label"></label>
                <input asp-for="RecordContent" class="form-control" />
                <span asp-validation-for="RecordContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
