<div class="col-xl-6 tm-contact-col-l mb-4">
    <form id="contact-form" action="" method="POST" class="tm-contact-form">
        <div class="form-group">
            <input type="text" name="name" class="form-control rounded-0" placeholder="Name" required="">
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control rounded-0" placeholder="Email" required="">
        </div>
        <div class="form-group">
            <select class="form-control" id="contact-select" name="inquiry">
                <option value="-">Subject</option>
                <option value="sales">Sales &amp; Marketing</option>
                <option value="creative">Creative Design</option>
                <option value="uiux">UI / UX</option>
            </select>
        </div>
        <div class="form-group">
            <textarea rows="8" name="message" class="form-control rounded-0" placeholder="Message" required=""></textarea>
        </div>

        <div class="form-group tm-text-right">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>
<div class="col-xl-6 tm-contact-col-r">
    <!-- Map -->
    <div class="mapouter mb-4">
        <div class="gmap_canvas">
            <iframe class="w-100" @* width="100%" *@ height="520" id="gmap_canvas" src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>

    <!-- Address -->
    <address class="mb-4">
        120-240 eget purus luctus sodales. Sed<br>
        auctor odio quis ligula dignissim efficitur<br>
        vitae vitae quam 16502
    </address>

    <!-- Links -->
    <ul class="tm-contact-links mb-4">
        <li class="mb-2">
            <a href="tel:0100200340">
                <i class="fas fa-phone mr-2 tm-contact-link-icon"></i>
                Tel: 010-020-0340
            </a>
        </li>
        <li>
            <a href="mailto:info@company.com">
                <i class="fas fa-at mr-2 tm-contact-link-icon"></i>
                Email: info@company.com
            </a>
        </li>
    </ul>
    <ul class="tm-contact-social">
        <li><a href="https://fb.com/templatemo" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube"></i></a></li>
    </ul>
</div>