@model prjDB_GamingForm_Show.Models.Entities.Depute

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_DBM.cshtml";
}

<h2>Create</h2>

<h4>Depute</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeputeId" class="control-label"></label>
                <input asp-for="DeputeId" class="form-control" />
                <span asp-validation-for="DeputeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                <input asp-for="ProviderId" class="form-control" />
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifiedate" class="control-label"></label>
                <input asp-for="Modifiedate" class="form-control" />
                <span asp-validation-for="Modifiedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeputeContent" class="control-label"></label>
                <textarea asp-for="DeputeContent" class="form-control" rows="4" cols="50" placeholder="在這裡輸入您的委託資訊..."></textarea>
                <span asp-validation-for="DeputeContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <input asp-for="StatusId" class="form-control" />
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                <input asp-for="RegionId" class="form-control" />
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        @* <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Home</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Profile</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Messages</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a> *@
                    </div>
                </div>

                <div class="col-6">
                    <div class="tab-content" id="nav-tabContent">
                        @* <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">1</div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">2</div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">3</div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">4</div> *@
                    </div>
                    <ul class="list-group col-6">
                        @* <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
                            <label class="form-check-label stretched-link" for="firstCheckboxStretched">First checkbox</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckboxStretched">
                            <label class="form-check-label stretched-link" for="secondCheckboxStretched">Second checkbox</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckboxStretched">
                            <label class="form-check-label stretched-link" for="thirdCheckboxStretched">Third checkbox</label>
                        </li> *@
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const divSkillClasses = document.querySelector('#list-tab');
        const divSkillsGroup = document.querySelector('#nav-tabContent');
        const divSkills = document.querySelector('#divSkills');
        const divChooseSkillClass = document.querySelector('.list-group-item.active');

        loadSkillClasses();
        // loadSkills();


        async function loadSkillClasses() {
            const response = await fetch('@Url.Content("~/depute/skillclasses")');
            const datas = await response.json();
            const skillclasses = datas.map(skillclass => `<a class="list-${skillclass.name}-item-action list-group-item" id="list-${skillclass.name}-list" data-bs-toggle="list" href="#list-${skillclass.name}" role="tab" aria-controls="list-${skillclass.name}">${skillclass.name}<ul id=sel${skillclass.name} class="list-group col-6"></ul></a>`);
            const skillsgroup = datas.map(skillclass => `<div class="tab-pane fade" id="list-${skillclass.name}" role="tabpanel" aria-labelledby="list-${skillclass.name}-list">
            
            ${skillclass.name}
                    <li class="list-group-item">
                                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
                                    <label class="form-check-label stretched-link" for="firstCheckboxStretched">First checkbox</label>
                                </li>

            </div>`)
            divSkillClasses.innerHTML = skillclasses.join("");
            divSkillsGroup.innerHTML = skillsgroup.join("");
            console.log(document.querySelector('.list-group-item.active'));
            if (document.querySelector('.list-group-item.active'))
                loadSkills();
        }

        async function loadSkills() {
            const response = await fetch(`@Url.Content("~/depute/skills")?skillclass=${document.getElementsByClassName(active).item.name}`);
            const datas = await response.json();
            const skills = datas.map(skill => `<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#${skill}" role="tab">${skill}</a>`)
            document.querySelector(`#sel${skillclass}`).innerHTML = skills.join("");
        }


    </script>

}
