@model prjDB_GamingForm_Show.Models.Entities.Depute

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_DBM.cshtml";
}

<h2>Create</h2>

<h4>Depute</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeputeId" class="control-label"></label>
                <input asp-for="DeputeId" class="form-control" />
                <span asp-validation-for="DeputeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                <input asp-for="ProviderId" class="form-control" />
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifiedate" class="control-label"></label>
                <input asp-for="Modifiedate" class="form-control" />
                <span asp-validation-for="Modifiedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeputeContent" class="control-label"></label>
                <textarea asp-for="DeputeContent" class="form-control" rows="4" cols="50" placeholder="在這裡輸入您的委託資訊..."></textarea>
                <span asp-validation-for="DeputeContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <input asp-for="StatusId" class="form-control" />
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                <input asp-for="RegionId" class="form-control" />
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="list-group" id="list-tab" role="tablist">
                        @* <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Home</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Profile</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Messages</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a> *@
                    </div>
                </div>

                <div class="col-6">
                    <ul style="overflow-y:auto;height:300px" class="list-group tab-content" id="nav-tabContent">
                        @* <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">1</div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">2</div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">3</div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">4</div> *@
                    </ul>
                    <ul class="list-group col-6">
                        @* <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="1">
                            <label class="form-check-label stretched-link" for="1">First checkbox</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="2">
                            <label class="form-check-label stretched-link" for="2">Second checkbox</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="3">
                            <label class="form-check-label stretched-link" for="3">Third checkbox</label>
                        </li> *@
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="送出並發佈" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">取消</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var count = 0;
        const divSkillClasses = document.querySelector('#list-tab');
        const divSkillsGroup = document.querySelector('#nav-tabContent');
        const divSkills = document.querySelector('#divSkills');
        var chooseClass;

        $('*').click(function (event) {
            if (event.target.classList.contains('active')) {
                chooseClass = document.querySelector('.list-group-item.active').textContent;
                chooseClassID = `list-${chooseClass}`;
                
                console.log(chooseClass);
                console.log(chooseClassID);
                loadSkills();
            }
        })


        loadSkillClasses();
        // loadSkills();


        async function loadSkillClasses() {
            const response = await fetch('@Url.Content("~/depute/skillclasses")');
            const datas = await response.json();
            console.log(datas);

            const skillclasses = datas.skillclasses.map(skillclass => `<a class="list-${skillclass.name}-item-action list-group-item" id="list-${skillclass.name}-list" data-bs-toggle="list" href="#list-${skillclass.name}" role="tab" aria-controls="list-${skillclass.name}">${skillclass.name}<ul id=sel${skillclass.name} class="list-group col-6"></ul></a>`);
            const skillsgroup = datas.skillclasses.map(skillclass => `<div class="tab-pane fade" id="list-${skillclass.name}" role="tabpanel" aria-labelledby="list-${skillclass.name}-list">${skillclass.name}</div>`)
            divSkillClasses.innerHTML = skillclasses.join("");
            divSkillsGroup.innerHTML = skillsgroup.join("");
            if (chooseClassID) {
                console.log("test");
                loadSkills();
            }
        }

        async function loadSkills() {
            const response = await fetch(`@Url.Content("~/depute/skillss")?skillClass=${chooseClass}`);
            const datas = await response.json();
            console.log(datas);
            const skills = datas.map(skill => `<li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" id="${skill.name}">
                                            <label class="form-check-label stretched-link" for="${skill.name}">${skill.name}</label>
                                </li>`)
            document.querySelector(`#${chooseClassID}`).innerHTML = skills.join("");
        }


    </script>

}
