@model prjDB_GamingForm_Show.Models.Entities.Depute

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_DBM.cshtml";
}

<h2>發佈委託</h2>

<h4>請輸入委託資訊</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div class="p-3 mb-3 bg-opacity-10 border border-danger border-start-0 rounded-end">
                <div class="form-check form-switch form-check " style="padding-left:0">
                    <label class="form-check-label" style="color:white" for="flexSwitchCheckReverse">開立專屬委託</label>
                    <input class="form-check-input" style="margin-left:0" type="checkbox" id="flexSwitchCheckReverse">
                </div>
                <input class="form-control col-4" type="text" id="privatetxt" placeholder="請輸入對方會員編號" hidden />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3" hidden>
                <label asp-for="DeputeId" class="control-label"></label>
                <input asp-for="DeputeId" class="form-control" />
                <span asp-validation-for="DeputeId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3" hidden>
                <label asp-for="ProviderId" class="control-label"></label>
                <input asp-for="ProviderId" class="form-control" />
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input name="title" class="form-control" id="Title" placeholder="" required/>
                <label asp-for="Title" for="Title">委託主題</label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input name="開始日期" value="@DateTime.Now" class="form-control" hidden />
                <label asp-for="StartDate" class="control-label">開始時間</label>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input name="更新日期" value="@DateTime.Now" class="form-control" hidden />
                <label asp-for="Modifiedate" class="control-label">更新時間</label>
                <span asp-validation-for="Modifiedate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input name="salary" class="form-control" id="Salary" placeholder="" required />
                <label asp-for="Salary" class="control-label" for="Salary">提供報酬</label>
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div>
            </div>
            <div class="form-floating mb-3" hidden>
                <input name="StatusId" class="form-control" id="StatusId" placeholder="statusid" value="18" />
            </div>
            <div class="form-floating  mb-3">
                <select name="region" class="form-select" id="selRegions" aria-label="Default select example">
                   
                </select>
                <label asp-for="RegionId" class="control-label" id="RegionId" placeholder="">地區</label>
                @* <input asp-for="RegionId" class="form-control" />
                <span asp-validation-for="RegionId" class="text-danger"></span> *@
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="DeputeContent" class="form-control" style="height:200px" placeholder="在這裡輸入您的委託資訊..." id="DeputeContent" placeholder="" required></textarea>
                <label asp-for="DeputeContent" class="control-label" for="DeputeContent">委託資訊</label>
                <span asp-validation-for="DeputeContent" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="list-group" id="list-tab" role="tablist">
                    </div>
                </div>

                <div class="col-6">
                    <ul style="overflow-y:auto;height:300px" class="list-group tab-content" id="nav-tabContent">
                    </ul>
                    <ul class="list-group col-6">
                    </ul>
                </div>
            </div>
            <input name="skilllist" id="select-skills" hidden>
            <div class="form-floating mb-3">
                <a asp-action="personal" class="btn btn-secondary" >取消</a>
                <input type="submit" value="送出並發佈" class="btn btn-success" onclick="prepareAndSubmit()"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var count = 0;
        const divSkillClasses = document.querySelector('#list-tab'),
            divSkillsGroup = document.querySelector('#nav-tabContent');

        var chooseClass;

        document.addEventListener('DOMContentLoaded', () => {
            const privateCbx = document.getElementById('flexSwitchCheckReverse'),
                privateTxt = document.getElementById('privatetxt'),
                statusTxt = document.getElementById('StatusId');

            privateCbx.addEventListener('change', () => {
                privateTxt.hidden = !privateCbx.checked;
                privateCbx.checked ? statusTxt.innerHTML = 9 : statusTxt.innerHTML = 18
            })
        })

        $('*').click(function (event) {
            if (event.target.classList.contains('active')) {
                chooseClass = document.querySelector('.list-group-item.active').textContent;
                chooseClassID = `list-${chooseClass}`;

                loadSkills();
            }
        })

        async function loadSkillClasses() {
            const response = await fetch('@Url.Content("~/depute/skillclasses")');
            const datas = await response.json();
            const skillclasses = datas.skillclasses.map(skillclass => `<a class="list-${skillclass.name}-item-action list-group-item" id="list-${skillclass.name}-list" data-bs-toggle="list" href="#list-${skillclass.name}" role="tab" aria-controls="list-${skillclass.name}">${skillclass.name}<ul id=sel${skillclass.name} class="list-group col-6"></ul></a>`);
            const skillsgroup = datas.skillclasses.map(skillclass => `<div class="tab-pane fade" id="list-${skillclass.name}" role="tabpanel" aria-labelledby="list-${skillclass.name}-list">${skillclass.name}</div>`)
            divSkillClasses.innerHTML = skillclasses.join("");
            divSkillsGroup.innerHTML = skillsgroup.join("");
            if (chooseClassID) {
                loadSkills();
            }
        }
        loadSkillClasses();

        const selSkills = [];
        async function loadSkills() {
            const response = await fetch(`@Url.Content("~/depute/skillss")?skillClass=${chooseClass}`);
            const datas = await response.json();
            const skills = datas.map(skill => `<li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" id="${skill.name}"><label class="form-check-label stretched-link" for="${skill.name}">${skill.name}</label></li>`)
            document.querySelector(`#${chooseClassID}`).innerHTML = skills.join("");

            const divSkills = document.getElementsByClassName('me-1');
            Array.from(divSkills).forEach(divSkill => {
                divSkill.addEventListener('change', function (event) {
                    var selSK = event.target.labels[0].textContent;
                    if(event.target.checked){
                        selSkills.push({ skillclass: chooseClass, skill: selSK });
                    }else{
                        const index = selSkills.findIndex(i => i.skillclass == chooseClass && i.skill == selSK);
                        selSkills.splice(index,1);
                    }
                })
            })
        }

        async function loadRegions() {
            const response = await fetch(`@Url.Content("~/depute/regions")`);
            const datas = await response.json();
            const regions = datas.map(region => `<option value="${region.city}">${region.city}</option>`)
            var regionsString = "<option selected>請選擇地區</option>".concat(regions.join(""));
            console.log(regionsString);
            document.querySelector("#selRegions").innerHTML = regionsString;
        }
        loadRegions();

        const inputSkill = document.getElementById('select-skills');
        function prepareAndSubmit() {
            inputSkill.value = JSON.stringify(selSkills);
            document.forms.submit();
        }
    </script>

}
