@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel

@{
    ViewData["Title"] = "BlogSubTagEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">修改論壇分類</h2>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="BlogSubTagEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="SubTagId" value="@Model.subTags.FirstOrDefault().SubTagId" />
            <input type="hidden" name="SId" value="@Model.subTags.FirstOrDefault().SubTagId" />

            <div class="form-group">
                <label class="control-label">分類名稱</label>
                <input asp-for="subTags.FirstOrDefault().Name" class="form-control" />
                <span asp-validation-for="subTags.FirstOrDefault().Name" class="text-danger"></span>
            </div>

            <span>
                <input type="submit" value="修改" class="btn btn-danger" style="margin:3px" />
                <a asp-action="BlogCategoryList" class="btn btn-info" style="margin:3px">返回</a>
            </span>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
