@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel

@{
    ViewData["Title"] = "BlogEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">修改主版</h2>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="BlogEdit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" name="BlogId" value="@Model.blogs.FirstOrDefault().BlogId" />
            <input type="hidden" name="BId" value="@Model.blogs.FirstOrDefault().BlogId" />
            <div class="form-group">
                <label class="control-label">名稱</label>
                <input asp-for="blogs.FirstOrDefault().Title" class="form-control" />
                <span asp-validation-for="blogs.FirstOrDefault().Title" class="text-danger"></span>
            </div>
            

            @*圖片*@
            <div class="form-group">
                <label class="control-label">上傳圖片</label>
                <input type="file" name="Photo" class="form-control" onchange="previewImage(this)" />
                <img id="imagePreview" src="#" alt="Preview" style="display:none;width:360px;height:108px;object-fit:cover" />
            </div>
            
            <span >
                <input type="submit" value="修改" class="btn btn-danger" />
                @Html.ActionLink("回到列表", "BlogList", "Admin",null, new { @class = "btn btn-info"  })
            </span>

        </form>
    </div>
</div>

<script>
    function previewImage(input) {
        var imagePreview = document.getElementById('imagePreview');

        if (input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
