@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel

@{
    ViewData["Title"] = "BlogSubTagCreate";
}

<h2>新增論壇分類</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BlogSubTagCreate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="TagID" value="4" />
            <div class="form-group">
                <label asp-for="subTags.First().Name" class="control-label" style="margin-top:8px">分類名稱</label>
                <input name="Name" class="form-control" />
                <span asp-validation-for="subTags.First().Name" class="text-danger"></span>
            </div>
            <span>
                <input type="submit" value="新增" class="btn btn-danger" style="margin:3px" />
                <a asp-action="BlogCategoryList" class="btn btn-info" style="margin:3px">返回</a>
            </span>

        </form>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
