<div>@ViewBag.name @ViewBag.id</div>
<div class="row mt-3">
    <div class="col-12">
        <h3>聊天內容</h3>
        <div id="Content" style="height:150px ;max-height: 150px; overflow-y: auto;">
        </div>
    </div>
</div>