
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="padding:20px;align-content:center">
    <img src="~/images/bi.png" style="align-content:center;width:90%;height:90%" />
</div>

