
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="padding:20px;align-content:center">
    @*<img src="~/images/bi.png" style="align-content:center;width:90%;height:90%" />*@
    <iframe title="Report Section" width="1500" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiN2E3ZTBhMTctNDFkZC00NzhhLWFmNzAtMDQ2OTQ0MzAzYjlkIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>

