<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <!-- 第一個 .carousel-item.active -->
        <div class="carousel-item active">
            <div class="d-flex justify-content-center align-items-center position-relative">
                <div class="card mb-3" style="max-width: 60%; position: absolute; z-index: 1; display: flex; flex-direction: column;">
                    <a href='@Url.Content("~/Shop/Details")?id=5' style="flex: 1; display: block;">
                        <img src="~/images/shop/f0fb13ff-d00f-4c20-a69f-5625f063f798.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover; width: 100%; height: 100%;" />
                    </a>
                    <div class="card-body" style="flex: 1; display: flex; flex-direction: column;">
                        <div style="display: flex; flex-direction: row;">
                            <div style="flex: 1;">
                                <div>
                                    <h5 class="card-title" style="min-height: 2rem;">此遊戲具有以下標籤</h5>
                                    <p class="card-text">
                                        <span class="badge text-bg-light">冒險</span>
                                        <span class="badge text-bg-light">角色扮演</span>
                                        <span class="badge text-bg-light">劇情導向</span>
                                        <span class="badge text-bg-light">選擇豐富</span>
                                    </p>
                                    <p class="card-text"><small class="text-muted"></small></p>
                                </div>
                            </div>
                            <div style="flex: 1;">
                                <h5 class="card-title" style="min-height: 2rem;">版主推薦年度遊戲</h5>
                                <p class="card-text">Baldur's Gate 3</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="~/images/shop/7ac43d72-431e-4964-9312-4c4c791cb3f9.jpg" class="d-block w-100 carousel-image" alt="...">
            </div>
        </div>
     
        <!-- 第二個 .carousel-item -->
        <div class="carousel-item ">
            <div class="d-flex justify-content-center align-items-center position-relative">
                <div class="card mb-3" style="max-width: 60%; position: absolute; z-index: 1; display: flex; flex-direction: column;">
                    <a href='@Url.Content("~/Shop/Details")?id=19' style="flex: 1; display: block;">
                        <img src="~/images/shop/ebc44e25-88c2-4829-8439-d20ae59f166b.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover; width: 100%; height: 100%;" />
                    </a>
                    <div class="card-body" style="flex: 1; display: flex; flex-direction: column;">
                        <div style="display: flex; flex-direction: row;">
                            <div style="flex: 1;">
                                <div>
                                    <h5 class="card-title" style="min-height: 2rem;">此遊戲具有以下標籤</h5>
                                    <p class="card-text">
                                        <span class="badge text-bg-light">歷史</span>
                                        <span class="badge text-bg-light">即時策略</span>
                                        <span class="badge text-bg-light">中世紀</span>
                                        <span class="badge text-bg-light">戰爭</span>
                                        <span class="badge text-bg-light">多人</span>
                                    </p>
                                    <p class="card-text"><small class="text-muted"></small></p>
                                </div>
                            </div>
                            <div style="flex: 1;">
                                <h5 class="card-title" style="min-height: 2rem;">版主推薦年度遊戲</h5>
                                <p class="card-text">Age of Empires IV: Anniversary Edition</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="~/images/shop/AOE4.jpg" class="d-block w-100 carousel-image" alt="...">
            </div>
        </div>

        <!-- 第三個 .carousel-item -->
        <div class="carousel-item ">
            <div class="d-flex justify-content-center align-items-center position-relative">
                <div class="card mb-3" style="max-width: 60%; position: absolute; z-index: 1; display: flex; flex-direction: column;">
                    <a href='@Url.Content("~/Shop/Details")?id=52' style="flex: 1; display: block;">
                        <img src="~/images/shop/747c791a-d3a2-40b8-ae3b-28c665276d2d.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover; width: 100%; height: 100%;" />
                    </a>
                    <div class="card-body" style="flex: 1; display: flex; flex-direction: column;">
                        <div style="display: flex; flex-direction: row;">
                            <div style="flex: 1;">
                                <div>
                                    <h5 class="card-title" style="min-height: 2rem;">此遊戲具有以下標籤</h5>
                                    <p class="card-text">
                                        <span class="badge text-bg-light">血腥</span>
                                        <span class="badge text-bg-light">角色扮演</span>
                                        <span class="badge text-bg-light">恐怖</span>
                                        <span class="badge text-bg-light">非對稱競技</span>
                                    </p>
                                    <p class="card-text"><small class="text-muted"></small></p>
                                </div>
                            </div>
                            <div style="flex: 1;">
                                <h5 class="card-title" style="min-height: 2rem;">版主推薦年度遊戲</h5>
                                <p class="card-text">Dead by Daylight</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="~/images/shop/0d614265-53c5-48e7-81be-35977c9d5cf4.jpg" class="d-block w-100 carousel-image" alt="...">
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<style>
    .carousel-image {
        width: 100%;
        height: 800px;
        object-fit: cover;
    }

    .card-body {
        background-color: #272727;
        color: #fff;
        padding: 10px;
    }
     .card {
        width: 100%;
        height: 80%;
    }
</style>




<script>
    async function LoadBoard() {
        const response = await fetch(`@Url.Content("~/Shop/IndexbyDate")`);
        const data = await response.json();
        const productCards = data.map(createProductCard);
        ProductContent.innerHTML = productCards.join("");
    }


</script>