<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/shop/044bea53-a5a4-46ac-95f2-fefabd07887c.jpg" class="d-block w-100 carousel-image" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="~/images/shop/0d614265-53c5-48e7-81be-35977c9d5cf4.jpg" class="d-block w-100 carousel-image" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="~/images/shop/AOE4.jpg" class="d-block w-100 carousel-image" alt="..." />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<style>
    .carousel-image {
        width: 100%;
        height: 800px;
        object-fit: cover;
    }
</style>

<script>
    
   

</script>