@model prjDB_GamingForm_Show.Models.Entities.Product

@{
    ViewData["Title"] = "ProductReviewNow";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>商品審核</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            編號
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt>
            名稱
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>         
        <dt>
            商品圖片
        </dt>
        <dd>
            <img src="../images/shop/@Model.FImagePath" alt="..." style="height:25vh; " />
        </dd> 
    </dl>
    <input type="file" id="imgFile" class="form-control" accept="image/*" />
</div>
<div class="form-group">
    <button onclick="analyze()">分析</button>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var arrayBuffer;
        $("#imgFile").bind("change", function () {
            var file = this.files[0]
            var allowType = "image.*";
            if (file.type.match(allowType)) {
                var reader = new FileReader();
                reader.onload = function () {
                    arrayBuffer = this.result;
                    var blob = new Blob([arrayBuffer], {
                        type: "image/jpeg"
                    });
                    var urlCreater = window.URL || window.webkitURL;
                    var imageUrl = urlCreater.createObjectURL(blob)
                    $("#imgPreview").attr("src", imageUrl);
                };
                reader.readAsArrayBuffer(this.files[0])
            }
            else {
                alert("錯誤的檔案格式")
            }
        })
        function analyze() {            
            var params = {
                // Request parameters
                "CacheImage": false,
            };
            
            $.ajax({
                url: "https://grootdbai.cognitiveservices.azure.com/contentmoderator/moderate/v1.0/ProcessImage/Evaluate?" + $.param(params),
                beforeSend: function (xhrObj) {
                    // Request headers
                    xhrObj.setRequestHeader("Content-Type", "application/octet-stream");
                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "5585e8a41e73436a88e83f840805a453");
                },
                type: "POST",
                // Request body
                data: arrayBuffer,
                processData: false
            }).done(function (data) {
                alert(JSON.stringify(data));
                var isAdult = data['IsImageAdultClassified'];
                var adultScore = data['AdultClassificationScore'];
                var isRacy = data['IsImageRacyClassified'];
                var racyScore = data['RacyClassificationScore'];
                if (isAdult) {
                    alert(`adult:${(adultScore * 100).toFixed(2)}%`);
                }
                if (isRacy) {
                    alert(`racy:${(racyScore * 100).toFixed(2)}%`);
                }
            }).fail(function (err) {
                alert(err.statusText);
            });
        }
    </script>
}
