
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color:#a81d1d; border-color: #272727">
        不知道要玩什麼? 挑個標籤吧
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div style="border:solid 2px  #a81d1d ; margin-bottom:20px;">
        <div class="form-group" id="GameTag" style="background-color:#4F4F4F">
            <div class="d-flex flex-wrap">
            </div>
        </div>
        <input type="hidden" id="GameTagOptions" name="GameTagOptions" />
    </div>

</div>



<script>
    let stringCollection = [];
    let selectedValuesString = '';
    const productContent = document.getElementById("ContentProduct");
    const TagDiv = document.querySelector('#GameTag .d-flex');
    const KeyWord = document.getElementById("Kw");
    async function LoadTag() {
        
            const response = await fetch('@Url.Content("~/Shop/GameTag")');      
            const data = await response.json();
        // console.log("載入標籤" + data);
            const Tag = data.map(x => `
                    <div class="col-3">
                        <label style="margin-bottom: 10px; display: block;">
                                    <input type="checkbox" name="GameTag" value="${x.name}">${x.name}(${x.productCount})
                        </label>
                    </div>
                `).join('');
            TagDiv.innerHTML = Tag;
            const checkboxes = document.querySelectorAll('input[type="checkbox"][name="GameTag"]');
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', handleCheckboxChange);
            });

      
    }

    function handleCheckboxChange(event) {
        const checkbox = event.target;

        if (checkbox.checked) {
            // 被選中，將 checkbox 的 value 添加到字串中

            selectedValuesString += checkbox.value + ',';
          
        } else {
            // 取消選中，從字串中移除 checkbox 的 value
            selectedValuesString = selectedValuesString.replace(checkbox.value + ',', '');
           
        }

        const selectedValuesArray = selectedValuesString.split(',').filter(Boolean);
        
        KeyWord.value = "";
        // stringCollection = selectedValuesArray.slice();
        // stringCollection = selectedValuesArray.concat();
        // console.log('String collection:', stringCollection);
        fetchProducts();
    }
    LoadTag();

    async function fetchProducts() {
        const response = await fetch(`@Url.Content("~/Shop/MutipleSearch_Shop")?txtMutiKeywords=${selectedValuesString}`);
        const data = await response.json();    
        if (data.message == "沒有符合的條件") { productContent.innerHTML = '<div class="alert alert-dark" role = "alert" > "查無資料，請確認輸入內容" </div>'; }
 
        const end = data.map(product => `
                         <div class="col mb-5">
                                    <div class="card h-100">
                                      <a href="@Url.Content("~/Shop/Details")?id=${product.ProductId}"><img class="card-img-top"
                                    src="/images/shop/${product.FImagePath}" alt="..." style="height:25vh;object-fit:contain; background-color: black; " /></a>
                                    <div class="card-body p-3"style="background-color:#4F4F4F">

                                   <div class="text-center" style="height:25vh;">
                            <div style="height:35px">
                         ${product.SubTagName.split('/').map(tag => `<span class="badge text-bg-light">${tag}</span>`).join("")}
                                     </div>
                                <div class="text-center" style="height:25vh; margin: 30px;">
                                            <h5 class="fw-bolder" style="color:#fffafa">${product.ProductName}</h5>
                                      </div>
                                     </div>

                              <div style="background-color:black;border-radius:  10px; position: relative; height: 37px; display: flex; align-items: center;">
                                     <div style="flex: 1; position: relative; text-align: center;">
                                               <span style="color:white;">NT$${product.Price}</span>
                                    </div>
                                      <input type="button" value="加入購物車" class="btn btn-outline-dark mt-auto" value="${product.ProductId}" onclick="Addtocar(${product.ProductId})" style="flex: 1;" />
                             </div>
                                        </div>
                                    </div>
                                </div>
            `).join("");
            
        productContent.innerHTML = end;
    }







</script>
