
<p>
	<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color:#a81d1d; border-color: #272727">
		不知道要玩什麼? 挑個標籤吧
	</button>
</p>
<div class="collapse" id="collapseExample">
	<div style="border:solid 2px  #a81d1d ; margin-bottom:20px;" >
		<div class="form-group" id="GameTag" style="background-color:#4F4F4F">
            <div class="d-flex flex-wrap">         
            </div>
        </div>
        <input type="hidden" id="GameTagOptions" name="GameTagOptions" />
    </div>

</div>



<script>

	

	const TagDiv = document.querySelector('#GameTag .d-flex');

async function LoadTag() { //讀取遊戲標籤列表
			const response = await fetch('@Url.Content("~/Shop/GameTag")');
			const data = await response.json();

			const Tag = data.map(x => `
			<div class="col-3">
				<label style="margin-bottom: 10px; display: block;">
				<input type="checkbox" name="GameTag" value="${x.subTagId}">${x.name}
				</label>
			</div>
						`).join('');

			TagDiv.innerHTML = Tag;
			 submitTags();
		}

    LoadTag();
	
	function submitTags() {


		const gameTagOptions = collectSelectedOptions("GameTag");

		//將被勾起來的選項藏到hidden元素
		document.getElementById("GameTagOptions").value = gameTagOptions;

		return true;
	}

</script>