@model prjDB_GamingForm_Show.Models.Entities.Member

@{
    ViewData["Title"] = "Create";
}

<h1>會員註冊</h1>

<h4>請輸入您的資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth" class="control-label"></label>
                <input asp-for="Birth" class="form-control" />
                <span asp-validation-for="Birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="ImageId" class="control-label"></label>
                <input asp-for="ImageId" class="form-control" />
                <span asp-validation-for="ImageId" class="text-danger"></span> *@
            </div>
            @*<div class="form-group">
                <label asp-for="Mycomment" class="control-label"></label>
                <input asp-for="Mycomment" class="form-control" />
                <span asp-validation-for="Mycomment" class="text-danger"></span>
            </div>*@
           @* <div class="form-group">
                <label asp-for="BonusPoint" class="control-label"></label>
                <input asp-for="BonusPoint" class="form-control" />
                <span asp-validation-for="BonusPoint" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="photo" />
            </div>
            <div class="form-group">
                <input type="submit" value="註冊" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="HomePage">放棄並回到首頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
