@model prjDB_GamingForm_Show.Models.Member.CMemberWrap

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin:10px auto ; width:720px" >
    <div class="">
        <h2>會員註冊</h2>

        <h4>請輸入基本資料</h4>
        <form asp-action="Create" enctype="multipart/form-data" method="post" id="ValidationForm" onsubmit="return ValidationForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="name" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" id="phone" required />
                <span asp-validation-for="Phone" class="text-danger" id="PhoneError"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth" class="control-label"></label>
                <input asp-for="Birth" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" required/>
                <span asp-validation-for="Birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="email" required />
                <span asp-validation-for="Email" class="text-danger" id="EmailError"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="password" required />
                <span asp-validation-for="Password" class="text-danger" id="PasswordError"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyComment" class="control-label"></label>
                <input asp-for="MyComment" class="form-control" id="mycomment"/>
                <span asp-validation-for="MyComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" required />
                <option value="1">男性</option>
                <option value="2">女性</option>
                <option value="3">其他</option>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">上傳圖片</label>
                <input type="file" name="photo" class="form-control" onchange="previewImage(this)" />
                <img id="imagePreview" src="#" alt="Preview" style="object-fit: cover; display:none;max-height:500px" />
            </div>
            <div class="form-group">
                <input type="submit" value="驗證並註冊" class="btn btn-default" id="ValidationBtn" name="ValidationBtn" />
                <button id="Demo1" class="btn btn-primary">Demo1</button>
                <button id="Demo2" class="btn btn-primary">Demo2</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回首頁</a>
</div>


<script>
    function previewImage(input) 
    {
        var imagePreview = document.getElementById('imagePreview');

        if (input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    var Email = document.querySelector('#email');
    var Password = document.querySelector('#password')
    var Phone = document.querySelector('#phone')
    var email = Email.value
    var phone = Phone.value
    var password = Password.value

    var IsValid = false
    function validateEmail() 
    {
        var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
        return emailRegex.test(Email.value);
    }

    function validatePhone() 
    { 
        var phoneRegex = /^\d{10}$/;
        return phoneRegex.test(Phone.value);
    }

    function validatePassword() 
    {
        var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/
        return passwordRegex.test(Password.value);
    }
    
    Email.addEventListener('blur',()=>{
              
        if (validateEmail(email) == false) {
            IsValid = false
            document.querySelector('#EmailError').innerHTML = "格式錯誤 範例:xxxx@gmail.com";
        }
        else 
        {
            IsValid = true
            document.querySelector('#EmailError').innerHTML = "格式正確";
        }
    })

        Phone.addEventListener('blur', () => {

        if (validatePhone(phone) == false) {
            IsValid = false
            document.querySelector('#PhoneError').innerHTML = "格式錯誤 範例:09xxxxxxxx";
        }
        else {
            IsValid = true
            document.querySelector('#PhoneError').innerHTML = "格式正確";
        }
    })

        Password.addEventListener('blur', () => {

        if (validatePassword(password) == false) 
        {
            IsValid = false
            document.querySelector('#PasswordError').innerHTML = "格式錯誤 範例:Xx123456";
        }
        else 
        {
            IsValid = true
            document.querySelector('#PasswordError').innerHTML = "格式正確";
        }
    })
    function ValidationForm() 
    {
        if (IsValid == false) 
        {
            alert("格式有誤 不能新增會員")
            return false;
        } else 
        {
            return true
        }
    }




    document.getElementById("Demo1").addEventListener('click', function () {
        var name = document.getElementById('name');
        var phone = document.getElementById('phone');
        var email = document.getElementById('email');
        var password = document.getElementById('password')
        var mycomment = document.getElementById('mycomment')
        // 添加文字內容
        name.value = 'OO';
        phone.value = '0985175815';
        email.value ='alan90306@gmail.com';
        password.value = 'as1234567';
        mycomment.value = '神奇寶貝腦粉，希望有朝一日創造屬於自己的神奇寶貝遊戲';
    });
    document.getElementById("Demo2").addEventListener('click', function () {
        var name = document.getElementById('name');
        var phone = document.getElementById('phone');
        var email = document.getElementById('email');
        var password = document.getElementById('password')
        var mycomment = document.getElementById('mycomment')
        // 添加文字內容
        name.value = 'OO';
        phone.value = '0985175815';
        email.value ='alan90306@gmail.com';
        password.value = 'As1234567';
        mycomment.value = '神奇寶貝腦粉，希望有朝一日創造屬於自己的神奇寶貝遊戲';
    });

        // var ValidationBtn = document.querySelector('#ValidationBtn')
        // ValidationBtn.()
        // if (IsValid == false) 
        // {
        //     ValidationBtn.setAttribute("disabled", true)
        // }
        // else (IsValid == true)
        // { 
        //    ValidationBtn.removeAttribute("disabled")
        // }
   

    // function loadHotkey() {
    //     var count = 0;
    //     $.ajax('@Url.Content("~/Member/CreateValidation")', {
    //         "type": 'Post', //POST、PUT、DELETE//
    //         "data": { 
    //             "txtEmail": $('#email').val(),
    //             "txtPhone": $('#phone').val(),
    //             "txtPassword": $('#password').val(),
    //         },
    //         "dataType": "json"
    //     })
    //         .done((data) => {
    //             // count++;
    //             const HkFrag = $(document.createDocumentFragment());
    //             const snd = '<span class="text-truncate me-1">熱門關鍵字 :</span>'
    //             HkFrag.append(snd);
    //             const Hotkeys = data.map(Hotkeys => `<a href="#" id="${Hotkeys}" onclick="MutiSearch('${Hotkeys}')">#${Hotkeys} </a>`)
    //             HkFrag.append(Hotkeys);
    //             $('#hotkey').html(HkFrag)
    //         })
    // }
    
</script>
