@model prjDB_GamingForm_Show.ViewModels.CForgetPasswordViewModel;
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>請輸入您的Email以進行驗證</h2>

<div class="row">
    <div class="col-md-4">
        <form   asp-action="ForgetPassword" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="txtConfirm_Email" class="control-label"></label>
                <input asp-for="txtConfirm_Email" class="form-control" />
                <span asp-validation-for="txtConfirm_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="驗證電子信箱" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Login">返回登入頁面</a>
    </div>
</div>

<div class="modal" tabindex="-1" id="ForgetPassword" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:black">請輸入您的電子信箱</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color:black">
                <form asp-action="ForgetPassword" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="txtConfirm_Email" class="control-label"></label>
                        <input asp-for="txtConfirm_Email" class="form-control" />
                        <span asp-validation-for="txtConfirm_Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="驗證電子信箱" class="btn btn-primary" style="margin-top:16px"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">回上一頁</button>
                <button type="button" class="btn btn-primary">送出並驗證</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function ()
    {
        $('#ForgetPassword').modal('show');
    });
</script>