@model prjDB_GamingForm_Show.ViewModels.CForgetPasswordViewModel;
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>請輸入您的Email以進行驗證</h2>

<div class="row">
    <div class="col-md-4">
        <form   asp-action="ForgetPassword" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="txtConfirm_Email" class="control-label"></label>
                <input asp-for="txtConfirm_Email" class="form-control" />
                <span asp-validation-for="txtConfirm_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="驗證電子信箱" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Login">返回登入頁面</a>
    </div>
</div>

