@{
    ViewData["Title"] = "Test2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test2</h2>
<div>
</div>
@section Scripts
{


    <script>
        var result = "";
        GetCookie();
        function GetCookie() {
            $.ajax('@Url.Content("~/Member/ForgetPassword")', {
                "type": 'Post', //POST、PUT、DELETE
                "dataType": "text"
            })
                .done((data) => {

                    console.log(data);
                    result = data;
            // lstFrag.append(list);
            // $('#history').html(lstFrag);
            GetResult();
        })
                }

        function GetResult() 
        {
            if(data == "沒")
            $('#result').html('sadasdas')
        
        }
    </script>




}