<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章標題</title>
    <style>
        body 
        {
            text-align: center; /* 將內容置中 */
        }
    </style>
</head>
<body>
    <header>
        <h1>文章標題</h1>
        <p>作者：作者名稱</p>
        <p>日期：發佈日期</p>
    </header>

    <article>
    </article>
</body>
</html>